@import "../../App";

.navbar {
  z-index: 999999999;
  transition: all 0.5s;
  position: fixed;
  width: 100%;
  background-color: $main-color;
  button {
    &:focus {
      box-shadow: none;
    }
  }
  .navLogo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $text-color;
  }
  .nav-links {
    .links-list {
      gap: 10px;
      margin: 20px 0;
      li {
        a {
          color: $text-color;
          font-weight: bold;
          font-size: 1rem;
          text-transform: uppercase;
          padding: 10px;
          display: block;
          width: fit-content;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .navLogo {
      font-size: 2rem;
    }
    .nav-links {
      .links-list {
        margin: 0;
      }
    }
  }
}
